@model InstaHub.Web.ViewModels.Posts.PostCreateInputModel
@{
    this.ViewData["Title"] = "New Publication";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="row">
    <div class="col-md-12">

        <div class="text-center">
            <h1>@this.ViewData["Title"]</h1>
        </div>
        <hr />

        <form method="post" asp-action="Create" asp-controller="Posts">
            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Title">Title <span>*</span> <small>(This field use for title on your post.)</small></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content">Content <span>* <small>(image, video...)</small></span> </label>
                <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId">Category <span>*</span> <small>(Select in which category you want to make your new post.)</small></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p><span class="require">*</span> - required fields</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Create
                </button>
                <a asp-controller="HomePage" asp-action="Posts" class="btn btn-danger">
                    Cancel
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="/js/tinymce.js" type="text/javascript" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
