@using InstaHub.Common
@model InstaHub.Web.ViewModels.Posts.PostCreateInputModel
@{
    this.ViewData["Title"] = "New Publication";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
</head>
<body style="background: aliceblue">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-md-offset-2">

                <div class="text-center">
                    <h1>@this.ViewData["Title"]</h1>
                </div>
                <hr />

                <form method="post" asp-action="Create" asp-controller="Posts">

                    <div class="form-group">
                        <label asp-for="Title">Title <span>*</span> <small>(This field use for title on your post.)</small></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Content">Content <span>* <small>(image, video...)</small></span> </label>
                        <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category <span>*</span> <small>(Select in which category you want to make your new post.)</small></label>
                        <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <p><span class="require">*</span> - required fields</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            Create
                        </button>
                        <a asp-controller="HomePage" asp-action="Posts" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="/js/tinymce.js" type="text/javascript"></script>

</body>
</html>