@model MyForum.Web.ViewModels.Chat.UserMessages
@{ this.ViewBag.Title = "Chat"; }

<!DOCTYPE html>
<html class=''>
<head>
    <link rel="stylesheet" href="~/css/chat.css" />

    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">

    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>
<body>

    <div id="frame">
        <div class="content">
            <div class="contact-profile">
                <img src="~/uploads/@Model.UserImagePath" alt="" />
                <p>@this.Model.UserName</p>
                <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul id="messagesList">
                    @foreach (var message in this.Model.Messages)
                    {
                        <li class="sent">
                            <img src="~/uploads/@message.UserImagePath" alt="" />
                            <p>@message.Text</p><br />
                            <time datetime="@message.CreatedOn.ToString("O")"></time>, From: <span style="color: red">@message.UserUserName</span>
                        </li>
                    }
                    @*<li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>No, I told him that.</p>
                        </li>*@
                </ul>
            </div>
            <div class="message-input">
                <div id="message-holder" class="wrap">
                    <textarea id="messageInput" type="text" placeholder="Write your message..." style="width: 90%"></textarea>
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>

    @section Scripts {
        <script>
            var connection =
                new signalR.HubConnectionBuilder()
                    .withUrl("/chat")
                    .build();


            connection.on("NewMessage",
                function (message) {
                    if (message.text.trim() !== '') {
                        var chatInfo = `
                        <li class="sent">
                            <img src="/uploads/${message.userImagePath}" alt="" />
                            <p>${message.text}</p><br />
                            ${moment().format('llll')}, From: <span style="color: red">${message.userUserName}</span>
                        </li>`;
                        $("#messagesList").append(chatInfo);
                        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
                    }
                });

            $("#sendButton").click(function () {
                var message = $("#messageInput").val();
                connection.invoke("Send", message);
                $("#messageInput").val("");
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            function escapeHtml(unsafe) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }

            //Aplication logic HERE

            $(".messages").animate({ scrollTop: $(document).height() }, "fast");

            $("#profile-img").click(function () {
                $("#status-options").toggleClass("active");
            });

            $(".expand-button").click(function () {
                $("#profile").toggleClass("expanded");
                $("#contacts").toggleClass("expanded");
            });

            $("#status-options ul li").click(function () {
                $("#profile-img").removeClass();
                $("#status-online").removeClass("active");
                $("#status-away").removeClass("active");
                $("#status-busy").removeClass("active");
                $("#status-offline").removeClass("active");
                $(this).addClass("active");

                if ($("#status-online").hasClass("active")) {
                    $("#profile-img").addClass("online");
                } else if ($("#status-away").hasClass("active")) {
                    $("#profile-img").addClass("away");
                } else if ($("#status-busy").hasClass("active")) {
                    $("#profile-img").addClass("busy");
                } else if ($("#status-offline").hasClass("active")) {
                    $("#profile-img").addClass("offline");
                } else {
                    $("#profile-img").removeClass();
                };

                $("#status-options").removeClass("active");
            });

            function newMessage() {
                message = $(".message-input input").val();
                if ($.trim(message) == '') {
                    return false;
                }
                $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
                $('.message-input input').val(null);
                $('.contact.active .preview').html('<span>You: </span>' + message);
                $(".messages").animate({ scrollTop: $(document).height() }, "fast");
            };

            $('.submit').click(function () {
                newMessage();
            });

            $(window).on('keydown',
                function (e) {
                    if (e.which == 13) {
                        newMessage();
                        return false;
                    }
                });
        </script>
    }

</body>
</html>