@using MyForum.Common
@using MyForum.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link href="~/css/home.css" rel="stylesheet" />

<nav class="nav nav-pills flex-column">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <a class="text-white nav-link nav-link-faded has-icon" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-cog fa-fw"></i>&nbsp; Settings
        </a>

        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="nav-link nav-link-faded has-icon" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
        }
        <br/>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new {area = string.Empty})">
            <button type="submit" class="nav-link nav-link-faded has-icon border-0 bg-white">
                <i class="fas fa-sign-out-alt fa-fw"></i>&nbsp; Logout
            </button>
        </form>
    }
    else
    {
        <br/>
        <a class="nav-link nav-link-faded has-icon bg-white" asp-area="Identity" asp-page="/Account/Login">
            <i class="fas fa-sign-out-alt fa-fw"></i>&nbsp; Login
        </a>
        <br/>
        <a class="nav-link nav-link-faded has-icon bg-white" asp-area="Identity" asp-page="/Account/Register">
            <i class="fas fa-sign-out-alt fa-fw"></i>&nbsp; Register
        </a>
    }
</nav>
