@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<a asp-area="Administration" asp-controller="Categories" asp-action="Index" class="btn btn-warning">Categories Administration</a>