<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body  style="background: darkturquoise;">
    <br />
    <img src="https://www.mentionlytics.com/wp-content/uploads/2019/10/Best-Social-Search-Engines.jpg" style="width: 1300px; height: 250px;" />
    <br />
    <br />
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">
                Welcome in the Forum!
            </h1>
            <br />
            <h1 class="text-uppercase text-white font-weight-bold">
                Here you will be find very interesting forum themes
            </h1>
            <hr class="divider my-4" />
        </div>
        <div class="col-lg-8 align-self-baseline ">
            <p class="text-white-75 font-weight-light mb-5">
                You can Read, Write Posts (You must have a registration).<br />
                See other users posts, like it, comment it and find lots of information. <br />
                If you don't have registration yet. Go and make registration for fun.<br />
                for free!
            </p>
            <a asp-area="" asp-controller="HomePage" asp-action="Posts" as class="btn btn-primary btn-xl">
                <i class="fab fa-stack-overflow fa-2x fa-fw"></i>&nbsp; See latest forum posts
            </a>
        </div>
    </div>

</body>